*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Poppins,sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* border-radius: 10px; */
    /* text-align: center; */
    margin-top: 20px;
   border: 7px dashed blue;
   border-radius: 20px;
}
.tour{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.cards{
    width: 380px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0,0.24) 0px 3px 8px;
    padding: 15px;
    
}
.img{
    aspect-ratio: 1/1;
    width: 350px;
    object-fit: cover;
}
.details{
   
    display: flex;
    flex-direction: column;
    
}
.tour-price{
   
    color: #1faa59;
    font-size: 22px;
}
.tour-name{
    font-weight:900;
}
.btn-red-class{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.btn-red{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: transparent;
    font-weight: bolder;
    margin-top: 10px;
    font-size: larger;
    cursor: pointer;
}
.btn-red:hover{
    background-color: red;
    transition: all;
    transition-duration: .1s;
    color: white;
}
.tour-readmore{
    cursor: pointer;
    color:dodgerblue;
}
.refresh{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-white{
    margin-top: 18px;
    padding: 10px 80px;
    border: 1px solid white;
   cursor: pointer;
   font-weight: 700;
}
.btn-white:hover{
    background-color: transparent;
}